# config.cfg for WMRC experiment
run_name = "wmrc_imdb_accuracy"
dataset_name = "imdb"
dataset_prefix = "./datasets/"

[wmrc_model]
solver = "MOSEK"
conf_solver = "GUROBI" 
constraint_form = "accuracy"
bound_method = "binomial"
use_inequality_consts = true
add_mv_const = false
n_fit_tries = 10

[confidence]
get_confidences = true
pattern_neighborhood_size = 20
pred_prob_incr = 5
conf_objs = ["preds", "xent"]

[experiment]
n_runs = 5
n_max_labeled = 100
labeled_set = "valid"
use_test = true